/* Fonts */

$font-size-default: 14px;
$font-family-texte: 'Montserrat', sans-serif;
$font-family-title: 'Fraunces', serif;

/* colors */

$color-primary: hsl(158, 36%, 37%);
$color-background: hsl(30, 38%, 92%);
$color-font-dark: hsl(212, 21%, 14%);
$color-font-light: hsl(228, 12%, 48%);
$color-neutral:hsl(0, 0%, 100%);


/* breakpoints */

$mobile: 500px;
$desktop: 1440px;